.bg-light {
    background-color: white !important;}
    footer{
        padding:3%;
        padding-bottom: 15px;
    }
    .copy-right{      
            border-top: 1px solid #9fa6b2;      
    }